$main: red;

.BlogCard {
  width: 30%!important;
  margin: 1rem 1.5%!important;
  background: none!important;
  border-radius: 0!important;
  .dropdown {
    .dropdown-menu {
      border-radius: 0!important;
      background-color: rgba(0, 0, 0, 0.628)!important;
      > li {
        a {
          transition: all 0.4s!important;
          color: white!important;
        }
        a:hover {
          color: white!important;
          background: #000!important;
        }
      }
    }
  }
  > .row {
    padding: 0.5rem 0.5rem!important;
    .col-2 {
      width: 15%!important;
      img {
        border-radius: 60px!important;
        width: 100%!important;
      }
    }
    .col-9 {
      h5 {
        margin-top: 0.39rem!important;
        font-family: "Dancing Script", cursive!important;
        color: white!important;
      }
    }
    .col-1 {
      button {
        border: none!important;
        background: none!important;
        color: white!important;
      }
    }
  }
  img {
    border-radius: 0!important;
  }
  .card-body {
    padding: 1rem 0!important;
    h5 {
      margin-top: 1rem!important;
      font-family: "Raleway", ssans-serif!important;
      color: white!important;
    }
    p {
      font-family: "Dancing Script", cursive!important;
      color: white!important;
    }
    a {
      font-family: "Edu TAS Beginner", cursive!important;
      background: none!important;
      border: solid 1px $main!important;
    }
    a:hover {
      background: $main!important;
      color: white!important;
    }
    div {
      .col-6 {
        button {
          color: white!important;
          background: none!important;
          border: none!important;
          margin-right: 0.4rem!important;
          outline: none;
          box-shadow: none;
        }
        .liked {
          color: $main!important;
        }
      }
    }
  }
}

.commentSectionModal {
  background: #000000b8!important;
  backdrop-filter: blur(10px)!important;
  .modal-dialog {
    .modal-content {
      background: none!important;
      height: 45rem;
      overflow: hidden!important;
      .modal-header {
        .modal-title {
          overflow-x: hidden!important;
          color: white!important;
        }
        button {
          background: none!important;
          border: none!important;
          color: white!important;
          outline: none!important;
          box-shadow: none!important;
        }
      }
      .modal-body {
        overflow-x: hidden!important;
      }
      .modal-footer {
        padding-top: 1rem!important;
        .row {
          width: 100%!important;

          .col-10 {
            ::placeholder {
              color: white !important;
            }
            input {
              width: 100%!important;
              border: none!important;
              background: none!important;
              border-bottom: 1px solid $main!important;
              box-shadow: none!important;
              outline: none!important;
              padding: 0.3rem 0.4rem!important;
              color: white!important;
            }
          }
          .col-2 {
            button {
              background: none!important;
              border: 1px solid $main!important;
              color: $main!important;
            }
            button:hover {
              background: $main!important;
              color: white!important;
              border: black 1px solid!important;
              color: black!important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .BlogCard {
    width: 47%!important;
    margin: 1rem 1.5%!important;
    > .row {
      padding: 0.5rem 0.5rem!important;
      .col-2 {
        width: 15%!important;
        img {
          width: 100%!important;
        }
      }
      .col-9 {
        h5 {
          margin-top: 0.2rem!important;
        }
      }
    }

    .card-body {
      padding: 1rem 0!important;
      h5 {
        margin-top: 1rem!important;
      }
      div {
        .col-6 {
          button {
            margin-right: 0.3rem!important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .BlogCard {
    width: 80%!important;
    margin: 1rem 10%!important;
    > .row {
      padding: 0.5rem 0.5rem!important;
      .col-2 {
        width: 15%!important;
        img {
          width: 100%!important;
        }
      }
      .col-9 {
        h5 {
          margin-top: 0.45rem!important;
        }
      }
    }

    .card-body {
      padding: 1rem 0!important;
      h5 {
        margin-top: 1rem!important;
      }
      div {
        .col-6 {
          button {
            margin-right: 0.5rem!important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .BlogCard {
    width: 90%!important;
    margin: 1rem 5%!important;
    > .row {
      padding: 0.5rem 0.5rem!important;
      .col-2 {
        width: 15%!important;
        img {
          width: 100%!important;
        }
      }
      .col-9 {
        h5 {
          margin-top: 0.45rem!important;
        }
      }
    }
    .card-body {
      padding: 1rem 0!important;
      h5 {
        margin-top: 1rem!important;
      }
      div {
        .col-6 {
          button {
            margin-right: 0.3rem!important;
          }
        }
      }
    }
  }
}

@media (max-width: 394px) {
  .BlogCard {
    width: 98%!important;
    margin: 1rem 1%!important;
    > .row {
      width: 98%!important;
      padding: 0.5rem 0.5rem!important;
      .col-2 {
        width: 15%!important;
        img {
          width: 1.4rem!important;
        }
      }
      .col-9 {
        width: 70%!important;
        h5 {
          margin-top: 0.15rem!important;
        }
      }
    }
    .card-body {
      padding: 1rem 0!important;
      h5 {
        margin-top: 1rem!important;
      }
      div {
        .col-6 {
          button {
            margin-right: 0.3rem!important;
          }
        }
      }
    }
  }

  .commentSectionModal {
    .modal-dialog {
      .modal-content {
        .modal-footer {
          .row {
            .col-10 {
              width: 68%!important;
              input {
                padding: 0.3rem 0.4rem!important;
              }
            }
            .col-2 {
              button {
                padding: 0.3rem 0.4rem!important;
              }
            }
          }
        }
      }
    }
  }
}
