$main: red;

.categoriesHeader {
    top: 6rem!important;
    gap: 1.3rem;
    background: #000000d1;
  transition: 0.3s all;

  .nav-item {
    .active{
        color: rgb(0, 0, 0)!important;
        background: $main;
    }
    .nav-link {
        // font-family: "Edu TAS Beginner", cursive;
        // font-family: 'Dancing Script', cursive;
        // font-family: 'Raleway', sans-serif;
        // font-family: 'Griffy';
        // font-family: 'Maven Pro';
        font-family: "Kalam";
        color: rgb(255, 255, 255);
        border-radius: 50px;
    }
    .nav-link:hover{
        color: rgb(0, 0, 0);
        background: $main;
    }
  }
}


@media (max-width:1400px) {
    
.categoriesHeader {
    top: 6rem!important;
    gap: 1rem;

  .nav-item {
    .nav-link{
        font-size: .8rem!important;
    }
  }
}

}

@media (max-width:1200px) {
    
.categoriesHeader {
    top: 6rem!important;
    gap: .2rem;

  .nav-item {
      .nav-link{
        padding: 0.2rem 0.7rem!important;
        font-size: .7rem!important;
    }
  }
}

}

@media (max-width:992px) {
    
.categoriesHeader {
    top: 6.5rem!important;
    gap: .1rem;

  .nav-item {
      .nav-link{
        padding: 0.2rem 0.5rem!important;
        font-size: .65rem!important;
    }
  }
}

}

@media (max-width:768px) {
    
.categoriesHeader {
    display: none!important;
}

}