.delete___ {
  text-align: center;
  .col-12 {
    button {
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      color: red;
      width: 80%;
    }
  }
}
.comment {
  margin-top: 2rem;
  .dropdown {
    .dropdown-menu {
      width: 40%;
      border-radius: 0;
      background-color: rgb(255, 0, 0);
      > li {
        a {
          transition: all 0.4s;
          color: white;
        }
        a:hover {
          color: white;
          background: #000;
        }
      }
    }
  }

  .commenterDp {
    img {
      border-radius: 50px;
      width: 100%;
    }
  }
  .commenterName {
    h5 {
      color: white;
      font-family: "Dancing Script", cursive;
      font-family: "Raleway", sans-serif;
      font-weight: 200;
    }
  }

  .col-12 {
    padding: 0.3rem 0.3rem;
    p {
      color: white;
      font-size: 0.8rem;
      width: 90%;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 1550px) {
  .comment {
    margin-top: 2rem;
    .commenterDp {
      img {
        width: 1.4rem;
      }
    }
    .commenterName {
      h5 {
        margin-top: 0.2rem;
        color: white;
      }
    }
 
    .col-12 {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .comment {
    margin-top: 2rem;
    width: 100%!important;
    .commenterDp {
      width: 2rem;
      margin-right: 1rem;
      img {
        width: 2rem;
      }
    }
    .commenterName {
      width: 70%!important;
      h5 {
        margin-top: -1rem;
        color: white;
      }
    }
    .col-12 {
      margin: 0;
      p {
        font-size: 0.8rem;
      }
    }
  }
  .delete {
    .col-12 {
      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 394px) {
  .comment {
    margin-top: 2rem;
    width: 100%!important;
    .commenterDp {
      width: 1.5rem!important;
      margin-right: .2rem;
      img {
        width: 1.3rem;
      }
    }
    .commenterName {
      width: 78%!important;
      h5 {
        position: relative;
        top: -.9rem;
        margin-top: 0rem;
      }
    }
    .col-12 {
      p {
        margin-left: 0.5rem;
        position: relative;
        top: -3rem;
        font-size: 0.9rem;
      }
    }
  }
  .delete___{
    .deleteBtn{
      position: relative;
      top: -4rem!important;
    }
  }
}
