@media (max-width: 768px) {
  #ERRORRR {
    padding-top: 5rem !important;
    img {
      width: 100% !important;
    }
    h5 {
      margin-top: 1rem;
    }
    button {
      margin-top: 1rem;
    }
  }
}
