$main: red;

.Footerr {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0.988)
    ),
    url("./Media/footer.jpeg");
  background-attachment: fixed;
  .row {
    .col-lg-6 {
      img {
        position: relative;
        left: -1rem;
        filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
      }
      p {
        font-family: "Kalam";
        color: white;
        width: 50%;
      }
    }
    .col-lg-3 {
      h4 {
        color: white;
      }
      button {
        margin-top: 1rem;
        display: block;
        font-family: "Edu TAS Beginner", cursive;
        border-radius: 0;
        padding: 0.5rem 1rem;
        width: 50%;
      }
      .btn-primary {
        background: $main;
        border: 1px solid $main;
        color: white;
      }
      .btn-outline-primary {
        background: none;
        border: 1px solid $main;
        color: $main;
      }
      .btn-outline-primary:hover {
        background: $main;
        border: 1px solid $main;
        color: white;
      }
      > div {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        a {
          text-decoration: none;
          transition: all 0.3s;
          color: white;
          p {
            font-size: 1.5rem;
          }
        }
        a:first-child:hover {
          color: black;
        }
        a:nth-child(2):hover {
          color: rgb(16, 97, 183);
        }
        a:last-child:hover {
          color: rgb(183, 16, 16);
        }
      }
    }
  }
}



@media (max-width:992px) {
    .Footerr{
        .col-lg-3:last-child{
            h4{
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width:768px) {
    .Footerr{
        .col-lg-6{
            p{
                // width: 70%!important;
            }
        }
        .col-lg-3{
            h4{
                margin-top: 2rem;
            }
            >div:last-child{
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width:576px) {
    .Footerr{
        .col-lg-6{
            p{
                // width: 85%!important;
            }
        }
        .col-lg-3{
            h4{
                margin-top: 2rem;
            }
            button{
                width: auto!important;
            }
            >div:last-child{
                margin-top: 1rem;
            }
        }
    }
}

@media (max-width:394px) {
    .Footerr{
        .col-lg-3{
            h4{
                margin-top: 2rem;
            }
            button{
                width: auto!important;
            }
            >div:last-child{
                margin-top: 1rem;
            }
        }
        .col-lg-6{
            p{
                width: 99%!important;
            }
        }
    }
}