.ForgetPasswordModal {
  .row {
    .col-12 {
      h6 {
        word-wrap: break-word;
      }
      button {
        padding: 0.3rem 0.4rem;
        border: 1px solid red;
        background: none;
        border-radius: 10px;
        outline: none;
        box-shadow: none;
      }
      button:hover {
        background: red;
        box-shadow: 0px 0px 40px red;
      }
      input {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid red;
      }
    }
  }
}
.forgetChangePassword {
  .row {
    .col-12 {
      ::placeholder {
        color: white !important;
      }
      input {
        margin-top: 1.5rem;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid red;
      }
      button {
        padding: 0.3rem 0.4rem;
        border: 1px solid red;
        background: none;
        border-radius: 10px;
        outline: none;
        margin-top: 3rem;
        margin-bottom: 2rem;
        box-shadow: none;
      }
      button:hover {
        background: red;
        box-shadow: 0px 0px 40px red;
      }
    }
  }
}

.forgetpasswordchngesuccess{

    h2{
        font-weight: 100;
    }
    button {
        padding: 0.3rem 0.4rem;
        border: 1px solid red;
        background: none;
        border-radius: 10px;
        outline: none;
        margin-top: 3rem;
        margin-bottom: 2rem;
        box-shadow: none;
      }
      button:hover {
        background: red;
        box-shadow: 0px 0px 40px red;
      }
}