$main: red;

::placeholder {
  color: white !important;
}
// font-family: 'Dancing Script', cursive;
// font-family: 'Raleway', sans-serif;
  // font-family: "Edu TAS Beginner", cursive;
// font-family: 'Griffy';
// font-family: 'Maven Pro';
// font-family: 'Kalam';
.MobileScreenMainHeader {
  display: none;
}
.HeaderNavbarCanvas {
  display: none;
}
.MainHeader {
font-family: 'Raleway', sans-serif;
  background: #000000d1;
  transition: 0.3s all;
  .container-fluid {
    .d-flex {
      a {
        img {
          width: 190px;
          height: 80px;
          position: relative;
          left: -1.4rem;
          filter: drop-shadow(3px 3px 5px rgb(255, 255, 255));
        }
      }
      .nav {
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }
      div {
        .searchbtn {
          background: none !important;
          border-radius: 0;
          border: none;
          outline: none;
          box-shadow: none;
          color: white;
          font-size: 1.5rem;
        }
      }
      .text-end {
        button {
          font-size: 900 !important;
          border-radius: 0;
          color: white;
          border: none !important;
        }
        button:hover {
          background: none;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .MainHeader {
    .container-fluid {
      > .d-flex {
        a {
          align-items: start;
          width: 20%;
          img {
            width: 190px;
            height: 80px;
            left: -1.4rem;
          }
        }
        nav {
          display: none !important;
        }
        form {
          width: 35%;
          input {
            margin-top: 1rem;
          }
        }
        .text-end {
          position: relative;
          right: -6rem;
          width: 20%;
          // button {

          // }
          .btn-danger {
            color: white;
            border: none !important;
            background: $main;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .MainHeader {
    display: none;
  }
  .MobileScreenMainHeader {
    background: #000000d1;
    transition: 0.3s all;
    display: block;
    .container-fluid {
      .row {
        .col-2 {
          img {
            width: 100px !important;
            position: relative;
            left: -1rem;
            filter: drop-shadow(3px 3px 5px rgb(255, 255, 255));
          }
          .homeIcon {
            background: none;
            margin-top: 0rem;
            border: none;
            font-size: 2rem;
            color: white !important;
            box-shadow: none;
          }
        }
        .col-8 {
          .btn-primary {
            background: none;
            margin-top: 0rem;
            border: none;
            font-size: 2rem;
            color: white !important;
            box-shadow: none;
            img {
              width: 2rem;
              height: 2rem;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .MobileScreenMainHeader {
    .container-fluid {
      .row {
        .col-2 {
          img {
            width: 80px !important;
            left: -1rem;
          }
          .homeIcon {
            font-size: 1.7rem;
            margin-left: 2rem;
          }
        }
        .col-8 {
          .btn-primary {
            font-size: 1.4rem !important;
            box-shadow: none;
            img {
              width: 1.6rem;
              height: 1.6rem;
              border-radius: 50px;
            }
          }
          .loginbtn {
            color: red !important;
            font-size: 1.8rem !important;
          }
        }
      }
    }
  }
}
