$main: rgb(174, 48, 48);
// fornt-family: 'Griffy';
.home-top {
  height: 58rem;
  background: black;
  background-size: 100% 100%;
  font-family: "Edu TAS Beginner", cursive;

  .container {
    padding-top: 13rem;
    color: $main;
    h1 {
      font-size: 3rem;
      color: white;
    }
    h2 {
      font-size: 5rem;
      color: white;
      span {
        color: $main;
        font-size: 8rem;
      }
    }
    h3 {
      font-size: 4rem;
      color: white;
      span {
        color: $main;
      }
      font {
        font-size: 7rem;
      }
      margin-bottom: 3rem;
    }
    a {
      padding: 1rem 2rem;
      text-decoration: none;
      font-size: 1.5rem;
      border: 2px solid $main;
      background: none;
      color: $main;
    }
    a:hover {
      font-size: 1.8rem;
      font-family: "Dancing Script", cursive;
      transform: scale(1.06);
      transition: all 0.4s;
      box-shadow: 0px 0px 50px $main;
      background: rgb(255, 255, 255);
    }
  }
}


@media (max-width: 992px) {
  .home-top {
    height: 40rem;

    .container {
      padding-top: 10rem;
      color: $main;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 3.5rem;
        span {
          font-size: 5.5rem;
        }
      }
      h3 {
        font-size: 3.5rem;
        font {
          font-size: 6rem;
        }
        margin-bottom: 2.9rem;
      }
      a {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
      a:hover {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-top {
    height: 33rem;

    .container {
      padding-top: 11rem;
      color: $main;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 2.4rem;
        span {
          font-size: 4rem;
        }
      }
      h3 {
        font-size: 2.5rem;
        font {
          font-size: 3.8rem;
        }
        margin-bottom: 1.7rem;
      }
      a {
        padding: 0.5rem 1.1rem;
        font-size: 1rem;
      }
      a:hover {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .home-top {
    height: 27rem;

    .container {
      padding-top: 10rem;
      color: $main;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 2rem;
        span {
          font-size: 2.9rem;
        }
      }
      h3 {
        font-size: 2rem;
        font {
          font-size: 2.8rem;
        }
        margin-bottom: 1.5rem;
      }
      a {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }
      a:hover {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 394px) {
  .home-top {
    height: 25rem;

    .container {
      padding-top: 8rem;
      h1 {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.5rem;
        span {
          font-size: 2rem;
        }
      }
      h3 {
        font-size: 1.5rem;
        font {
          font-size: 2rem;
        }
        margin-bottom: 1.2rem;
      }
      a {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
      }
      a:hover {
        font-size: 0.9rem;
      }
    }
  }
}
