body{
    background: #000!important;
    color: white;
    font-family: Raleway;
}
.btn-outline-dark{
    color: white;
}
:root{
    background: #000!important;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 56px;
}
::-webkit-scrollbar-track {
    background-color:none; 
}
::-webkit-scrollbar-corner {
    background-color: none; 
}
::-webkit-scrollbar-button {
    display: none;
}