$main: red;

.HomePageBlogSection {
  padding-top: 11rem;
  background: black;
  height: fit-content;
}

@media (max-width: 768px) {
  .HomePageBlogSection {
    padding-top: 6rem !important;
  }
}
@media (max-width: 394px) {
  .HomePageBlogSection {
    padding-top: 4rem !important;
  }
}
